body {
     color: white;
     font-family: Nunito Sans;
     font-style: normal;
     font-weight: 400;
     box-sizing: border-box;
     max-width: 1440px;
     margin: 0px auto;
}
.section{
     max-width: 1440px;
}
.container{
     max-width: 1267px;
     margin: 0 auto;
}
button {
     background: #E3B873;
     box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
     border-radius: 2px; 
     border: #FFFFFF; 
}
input{
     border:  none;
     border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}
.header {
     background-color: black;
     height: 83px;
}
.container__header-content {
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 11px;
     line-height: 15px;
}
.logo {
     color: #E3B873;
     text-transform: uppercase;
     padding: 37px 0px 36px 92px;
}
.header-navigation {
     display: flex;
     list-style: none;
}
.header-navigation a {
     padding: 37px 0 px 36px 0px;
     margin-right: 47px;
     text-decoration: none;
     color: white;
}
.header-navigation a:hover{
     color: #E3B873;
}
.telephone__accent{
     margin-right: 20px;
     text-decoration: none;
     color: #E3B873;
     text-decoration-line: underline;
     text-align: right;
}
.telephone {
     padding: 37px 0 px 36px 0px;
}
.button-request {
     border-radius: 2px;
     padding-right: 90px;
}
.button-request-a-call {
     width: 161px;
     height: 37px;
     font-size: 11px;
     font-style: italic;
     text-align: center;
     text-transform: uppercase;
     color: #FFFFFF;
}
.hero {
     background-image: url(../images/hero.jpg);
     background-size: cover;
     height: 707px;
     position: relative;
}
.hero-container {
     /* width: 1263px; */
     position: relative;
     z-index: 1;
}
.hero-overlay {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(0, 0, 0, .7);
     }
.hero__title {
     margin: 0;
     font-family: Yeseva One, 'Times New Roman', Times, serif;
     color: #FFFFFF;
     font-size: 40px;
     line-height: 53px;
     text-transform: uppercase;
     padding-top: 194px;
     margin-left: 134px;
}
.hero__accent {
     color: #E3B873;
}
.hero__subtitle {
     margin: 0;
     padding-top: 19px;  
     margin-left: 134px; 
}
.hero__subtitle p{
     font-size: 22px;
     line-height: 36px;
}
.main-screen__buttons {
     display: flex;
     justify-content: start;
     padding-bottom: 208px;
     margin-left: 134px;
     margin-right: 20px;
}
.button-calculate, .button-submit {
     margin: 41px 20px 0 0;
     width: 207px;
     height: 51px;
     border-radius: 2px;
     font-family: Nunito Sans;
     font-style: italic;
     font-size: 11px;
     line-height: 15px;
     text-align: center;
     color: #FFFFFF;
} 

.projects {
     padding-top: 107px;
     background-color: black; 
     padding-bottom: 620px;
}
.projects__container {
     /* height: 1074px; */
/* max-width: 1263px;
    margin: 0 auto; */
}
.project__cities {
     display: flex;
     justify-content: flex-end;
     margin-bottom: 26px;
     margin-right: 170px;
}
.project__cities__item {
     font-family: Yeseva One;
     font-style: normal;
     font-weight: normal;
     font-size: 14px;
     line-height: 19px;
     text-transform: uppercase;
     margin-left: 60px;
     margin-right: 11px;
     list-style-type: none;
}
.project__cities__item a{
     color: rgba(255, 255, 255, 0.3);
     text-decoration: none;
}
.project__cities__item a:hover{
     color: #E3B873;
     text-decoration: underline;
}
.project__complited {
     display: flex;
}

.project__complited__left {
     margin-left: 114px;
}
.projects__title {
     font-family: Yeseva One;
     font-style: normal;
     font-weight: normal;
     font-size: 27px;
     line-height: 37px;
     letter-spacing: -0.07em;
     text-transform: uppercase;
     color: #E3B873;
}
.projects__subtitle {
     color: #FFFFFF;
     font-family: Nunito Sans;
     font-style: normal;
     font-weight: normal;
     font-size: 14px;
     line-height: 27px;
}
.textgroup {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr;
}
.project__symbols{
     display: flex;
}
.project__symbols1{
     margin-right: 20px;
}
.project__symbols2{
     padding: 0px 8px;
}
.project__symbols3{
     margin-left: 20px;
}
.project__complited__image {
     width: 679px;
     height: 482px;
     margin-left: 50px;
}
.textgroup p{
     color: #FFFFFF; 
     font-family: Nunito Sans;
     font-style: normal;
     font-weight: normal;
     font-size: 13px;
     line-height: 21px;
}
.titleh3_project{
     color: #E3B873;
     font-family: Yeseva One;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 25px;
     text-transform: uppercase;
}
.control__container {
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: #fff;   
}
.titleh3__control {
     font-size: 20px;
     line-height: 28px;
     text-align: center;
     text-transform: uppercase;
     color: #FFFFFF;
     margin-top: -430px;
}
.control__icons {
     display: flex;
     justify-content: center;
     margin-bottom: 40px;
}
.control__icon2{
     padding: 0px 13px;
}
.control__wrapper { 
     /* width: 817px;
     height: 434px; */
}
.control__wrapper__image {
     /* position: center; */
}
.control__wrapper__play {
     position: relative;
     margin-top: -360px;
     margin-left: 380px;
}
.control__symbol {
     text-align: center;
     margin-top: 180px;
}
.control__text {
     font-size: 18px;
     line-height: 37px;
     text-align: center;
     color: #363636;
}
.control__leave-your-info {
     margin-top: 91px;
}
.control__form {
     display: flex;
     /* justify-content: space-around; */
     /* align-items: flex-end;
     flex-wrap: wrap; */
}
.control__input-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 50px;
}
.control__form__label1 {
     margin-bottom: 7px;
     font-family: Nunito sans;
     font-size: 13px;
     line-height: 120%;
     color: rgba(54, 54, 54, 0.5);
}
.control__form__label2 {
     margin-bottom: 7px;
     font-family: Nunito sans;
     font-size: 13px;
     line-height: 120%;
     color: rgba(54, 54, 54, 0.5);
}
.button__control{
     /* box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15); */
     border-radius: 2px;
     border:  none;
}
.button__control__submit {
     width: 200px;
     height: 51px;
     font-size: 13px;
     line-height: 27px;
     color: white;
}
.control__input-item2 {
     text-align: center;
     margin-top: 48px;
}
.control__form__label3 {
     font-size: 14px;
     line-height: 163.68%;
     color: #181818;
}
.types{
     justify-content: center;
}
.types__container{
     padding-top: 100px;
     background-color: white;
}
.types__symbols-and-icon{
     display: flex;
     justify-content: center;
}
.types__icon{
     padding: 0px 20px
}
.types__wrapper__middle{
     display: flex; 
     justify-content: center;
     padding-top: 31px;
     margin-bottom: 100px;
}
.types__main {
     background-color: white;
     margin-left: 30px;
     margin-top: -180px;
     bottom: 150px;
     box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.types__main p{
     padding: 20px 0px 0px 40px;
     font-family: Yeseva One;
     font-style: Regular;
     font-size: 18px;
     line-height: 24.95px;
     color: #363636;
}
.types__main__list{
     color: #959595;
     font-size: 13px;
     line-height: 26.6px;
     padding-left: 54px;
}
.types__overhaul {
     padding: 0px 30px;
}
.types__wrapper__bottom{
     display: flex;
     justify-content: space-between;
     padding-right: 70px;
}
.button__types{
     box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
     padding-left: 30px;
     /* position: relative; */
     bottom: 180px;
}
.button__types__button{
     height: 54px;
     width: 228px;
     font-size: 18px;
     line-height: 25px; 
     text-transform: uppercase;
     color: white;
}
.types__wrapper__bottom__right {
     background-color: #131313;
     width: 506px;
     height: 509px;
     box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}
.types__form p{
     font-size: 18px;
     line-height: 26px;
     text-align: center;
     font-family: Nunito sans;
}
.types__input-item{
     padding-left: 49px;
     margin-top: 35px;
     display: flex;
     flex-direction: column;
}
.types__input-item input{
     background-color: #131313;
     color:  #FFFFFF;
     font-size: 14px;
     line-height: 23px;
}
.types__form__label{
     color: #FFFFFF80;
     margin-bottom: 4px;
     font-size: 13px;
     line-height: 21px;
}
.types__input-item2{
     margin-top: 25px;
     padding-left: 49px;
}
.button__types__2__call{
     margin-top: 40px;
     margin-left: 250px;
     width: 213px;
     height: 51px;
     color:#FFFFFF;
     font-size: 13px;
     line-height: 21px;
     text-transform: uppercase;
}
.types__wrapper__bottom__left{
     background-image: url(../images/house-cover.jpg);
     width: 700px;
}
.types__wrapper__bottom__left__list{
     display: flex;
     flex-direction: column;
     margin-left: 220px;
}
.button__types__list{
     display: flex;
     margin-bottom: 75px;
}
.button__types__list p{
     color: black;
}
.button__types__list__button{
     width: 41px;
     height: 41px;
     border-radius: 30px;
     box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
     margin-right: 15px;
     color:#FFFFFF;
     font-size: 18px;
     line-height: 25px;
     margin-top: 17px;
     border: 8px white;
}
.types__footer{
     display: flex;
}
.tittleh3__types {
     text-align: center;
     text-transform: uppercase;
     color: #181818;
     font-size: 20px;
     line-height: 28px;  
}
.types__footer{
     display: flex;
     justify-content: flex-end;
     margin-right: 230px;
     margin-top: -35px;
}
.types__ellipse{
display: flex;
}
.types__footer p{
    color: #E3B873;
    margin-top: 20px;
    padding-left: 10px;
    font-size: 18px;
    line-height: 26px;
}
.types__ellipse__image2 img{
     margin-left: -76px;
     margin-top: 27px;
}
.types__ellipse__image3 img{
     margin-left: -64px;
     margin-top: 39px;
}
.container__fantasies{
     margin-top: 242px;
     background-image: url(../images/fantasies\ BG.jpg);
     display: flex;
     height: 864px;
}
.container__fantasies__left {
     width: 580px;
}
.container__fantasies__left p{
     font-size: 27px;
     line-height: 37px;
     padding-left: 100px;
     padding-top: 107px;
     text-transform: uppercase;
     color: #E3B873;
}
.container__fantasies__left__list {
     padding-top: 5px;
     padding-left: 100px;
}
.container__fantasies__left__list li{
     padding-top: 13px;
     font-style: 20px;
     line-height: 38px;
}
.container__fantasies__left__list li:hover{
     color: #E3B873;
     text-decoration: underline;
}
.container__fantasies__right {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr;
}
.container__fantasies__right__image1{
     margin-top: -40px;
}
.container__fantasies__right__image2{
     margin-top: -160px;
     margin-right: 50px;
     margin-left: 43px;
}
.container__fantasies__right__image3{
     margin-top: 40px;
}
.container__fantasies__right__image4{
     margin-top: -360px;
     margin-right: 50px;
     margin-left: 43px;
}
.clients__container{
     margin-top: 100px;
     height: 1109px;
}
.titleh3__clients {
     text-align: center;
     color: black;
     text-transform: uppercase;
     font-size: 20px;
     line-height: 27px;
}
.control__icons {
     margin-top: 13px;
     /* text-align: center; */
}
.clients__icon2 {
     margin: 0px 15px;
}
.subtitle__clients {
     margin-top: 24px;
     text-align: center;
     font-size: 18px;
     line-height: 29px;
     color: black;
}
.clients__wrapper {
     display: flex;
     justify-content: space-around;
     margin-top: 39px;
     margin-left: 40px;
}
.clients__wrapper__item {
     width: 376px;
     height: 428px;
     box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}
.clients__wrapper__item__header {
     display: flex;
}
.clients__wrapper__item__header img{
     margin-top: 13px;
     margin-left: 20px;
     border-radius: 50px;
}
.clients__wrapper__title {
     color: black;
     margin-left: 20px;
     margin-top: 24px;
     font-size: 18px;
     line-height: 23px;
}
.clients__wrapper__subtitle {
     /* max-width: 324px; */
     color: black;
     font-size: 13px;
     line-height: 24px;
     margin-top: 20px;
     margin-left: 20px;
}
.clients__wrapper__buttons {
     box-shadow: 0px 0px 20px rgba(227, 184, 115, 0.5);
     position: relative;
     margin-top: 73px;
}
.clients__wrapper__button__size {
     color: white;
     width: 135px;
     height: 54px;
     font-size: 17px;
     line-height: 23px;
}
.clients__wrapper__button__term {
     color: white;
     width: 172px;
     height: 54px;
     /* border-left: 2px white; */
     /* margin-left: 1px; */
}
.questions{
     background-color: black;
}
.container__questions {
     display: flex;
     flex-direction: column;
     align-items: center;
     position: relative;
}
.container__questions__header {
     margin-top: -300px;         
}
.questions__form{

     width: 883px;
     height: 445px;
     padding-top: 30px;
     background-color: black;
}
.questions__form p {
     
     text-align: center;
     font-size: 20px;
     line-height: 27px;
     text-transform: uppercase;
}
.questions__form__line {
     display: flex;
     flex-direction: row;
}
.questions__input-item {
     margin-left: 155px;
     margin-top: 60px;
     display: flex;
     flex-direction: column;
}
.questions__form__label {
     color: #FFFFFF80;
     font-size: 13px;
     line-height: 21px;
}
.questions__input-item input{
     margin-top: 7px;
     font-size: 14px;
     line-height: 23px;
     color: white;
     background-color: black;
     width: 190px;
}
.questions__input-item2 {
     margin-top: 40px;
     text-align: center;
     font-size: 14px;
     line-height: 23px;
}   
.button__questions__submit {
     margin-left: 330px;
     margin-top: 50px;
     width: 200px;
     height: 51px;
     color: white;
     font-size: 13px;
     line-height: 27px;
     text-transform: uppercase;
     box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
}
.container__questions__main {
     margin-top: 70px;
}
.questions__h3__title {
     text-align: center;
     font-size: 20px;
     line-height: 27px;
     text-transform: uppercase;
     color: #E3B873;
}
.questions__social-media {
     margin-top: 26px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin-bottom: 30px;
}
.questions__social-media img{
     margin-left: 15px;
}
.container__questions__main__google {
     margin-bottom: 40px;
}
.footer {
     background-color: black;
     height:133px;
}
.container__footer-content {
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 11px;
     line-height: 15px;
}
.logo {
     color: #E3B873;
     text-transform: uppercase;
     padding: 37px 0px 36px 92px;
}
.footer-navigation {
     display: flex;
     list-style: none;
}
.footer-navigation a {
     padding: 37px 0 px 36px 0px;
     margin-right: 47px;
     text-decoration: none;
     color: white;
}
.footer-navigation a:hover{
     color: #E3B873;
}
.telephone__accent{
     margin-right: 20px;
     text-decoration: none;
     color: #E3B873;
     text-decoration-line: underline;
     text-align: right;
}
.telephone {
     padding: 37px 0 px 36px 0px;
}
.button-request {
     border-radius: 2px;
     padding-right: 90px;
}
.button-request-a-call {
     width: 161px;
     height: 37px;
     font-size: 11px;
     font-style: italic;
     text-align: center;
     text-transform: uppercase;
     color: #FFFFFF;
}